################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RedisUsage
/RedisUsage.Commands/bin/Debug/netcoreapp2.1
/RedisUsage.Commands/obj
/RedisUsage.ConsoleHandle/bin/Debug/netcoreapp2.1
/RedisUsage.ConsoleHandle/obj
/RedisUsage.RedisServices/bin/Debug/netcoreapp2.1
/RedisUsage.RedisServices/obj
/RedisUsage.Test/bin/Debug/netcoreapp2.1
/RedisUsage.Test/obj
/RedisUsage.CqrsCore/bin/Debug/netcoreapp2.1
/RedisUsage.CqrsCore/obj
/RedisUsage.EfMigration/bin/Debug/netcoreapp2.1
/RedisUsage.EfMigration/obj
/RedisUsage.Events/bin/Debug/netcoreapp2.1
/SampleProject.Database/obj/Debug/netcoreapp2.1
/RedisUsage.Events/obj
/RedisUsage.Events/bin
/RedisUsage.Events/obj
/RedisUsage.Events/bin
/ProjectSample.CommandsAndEvents/obj
/ProjectSample.Database/bin/Debug/netcoreapp2.1
/ProjectSample.Database/obj
/ProjectSample.SampleCommandHandlers/obj
/ProjectSample.SampleEventHandlers/obj
/.vs/config
/ProjectSample.Apis/bin/Debug/netcoreapp2.1
/ProjectSample.Apis/obj
/ProjectSample.CommandsAndEvents/bin/Debug/netcoreapp2.1
/ProjectSample.MessageBussTest/obj
/ProjectSample.ProjectSampleBootingEngine/bin/Debug/netcoreapp2.1
/ProjectSample.ProjectSampleBootingEngine/obj
/ProjectSample.SampleCommandHandlers/bin/Debug/netcoreapp2.1
/ProjectSample.SampleEventHandlers/bin/Debug/netcoreapp2.1
/ProjectSample.Apis/bin/Debug/netcoreapp2.2
/ProjectSample.CommandsAndEvents/bin/Debug/netcoreapp2.2
/ProjectSample.Database/bin/Debug/netcoreapp2.2
/ProjectSample.ProjectSampleBootingEngine/bin/Debug/netcoreapp2.2
/ProjectSample.SampleCommandHandlers/bin/Debug/netcoreapp2.2
/ProjectSample.SampleEventHandlers/bin/Debug/netcoreapp2.2
/RedisUsage.CqrsCore/bin/Debug/netcoreapp2.2
/RedisUsage.RedisServices/bin/Debug/netcoreapp2.2
/RedisUsage.UnitTest.CqrsCoreMockupTest/bin/Debug/netcoreapp2.2
/RedisUsage.UnitTest.CqrsCoreMockupTest/obj
/RedisUsage.UnitTest.HandlersAndConsummers/bin/Debug/netcoreapp2.2
/RedisUsage.UnitTest.HandlersAndConsummers/obj
/RedisUsage.UnitTest.RedisServciesMockupTest/bin/Debug/netcoreapp2.2
/RedisUsage.UnitTest.RedisServciesMockupTest/obj
/ProjectSample.Apis/bin/Release/netcoreapp2.2
/ProjectSample.CommandsAndEvents/bin/Release/netcoreapp2.2
/ProjectSample.Database/bin/Release/netcoreapp2.2
/RedisUsage.CqrsCore/bin/Release/netcoreapp2.2
/RedisUsage.RedisServices/bin/Release/netcoreapp2.2
/Mqtt.MqttServerBrocker/bin/Debug/netcoreapp2.2
/Mqtt.MqttServerBrocker/obj
/Embeded.Simulator/obj
/mqtt iot.vpp.bak_017d
/mqtt iot.vpp.bak_016d
/mqtt iot.vpp.bak_015d
/mqtt iot.vpp.bak_014d
/mqtt iot.vpp.bak_013d
/mqtt iot.vpp.bak_012d
/mqtt iot.vpp.bak_011d
/mqtt iot.vpp.bak_010d
/mqtt iot.vpp.bak_009d
/mqtt iot.vpp.bak_008d
/mqtt iot.vpp.bak_007d
/mqtt iot.vpp.bak_006d
/mqtt iot.vpp.bak_005d
/mqtt iot.vpp.bak_004d
/mqtt iot.vpp.bak_003d
/mqtt iot.vpp.bak_002d
/mqtt iot.vpp.bak_001d
/mqtt iot.vpp.bak_000f
/mqtt iot.vpp
/device and iot gateway.png
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_015d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_014d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_013d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_012d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_011d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_010d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_009d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_008d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_007d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_006d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_005d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_004d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_003d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_002d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_001d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_000f
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_020d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_016d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_019d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_018d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_017d
/Mqtt.DeviceRegisterApis/bin/Debug/netcoreapp2.2
/Mqtt.DeviceRegisterApis/obj
/Embeded.Simulator/bin/Debug/netcoreapp2.2
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_031f
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_030d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_029d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_028d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_027d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_026d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_025d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_024d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_023d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_022d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_021d
/Mqtt.MqttServerBrocker/sequence diagram/.mqtt iot.vpp.lck
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_032d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_040d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_039d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_038d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_037d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_036d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_035d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_034d
/Mqtt.MqttServerBrocker/sequence diagram/mqtt iot.vpp.bak_033d
/Mqtt.DeviceSimulator/bin/Debug/netcoreapp2.2
/Mqtt.DeviceSimulator/obj
