################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RedisUsage
/RedisUsage.Commands/bin/Debug/netcoreapp2.1
/RedisUsage.Commands/obj
/RedisUsage.ConsoleHandle/bin/Debug/netcoreapp2.1
/RedisUsage.ConsoleHandle/obj
/RedisUsage.RedisServices/bin/Debug/netcoreapp2.1
/RedisUsage.RedisServices/obj
/RedisUsage.Test/bin/Debug/netcoreapp2.1
/RedisUsage.Test/obj
/RedisUsage.CqrsCore/bin/Debug/netcoreapp2.1
/RedisUsage.CqrsCore/obj
/RedisUsage.EfMigration/bin/Debug/netcoreapp2.1
/RedisUsage.EfMigration/obj
/RedisUsage.Events/bin/Debug/netcoreapp2.1
/SampleProject.Database/obj/Debug/netcoreapp2.1
/RedisUsage.Events/obj
/RedisUsage.Events/bin
/RedisUsage.Events/obj
/RedisUsage.Events/bin
/ProjectSample.CommandsAndEvents/obj
/ProjectSample.Database/bin/Debug/netcoreapp2.1
/ProjectSample.Database/obj
/ProjectSample.SampleCommandHandlers/obj
/ProjectSample.SampleEventHandlers/obj
/.vs/config
/ProjectSample.Apis/bin/Debug/netcoreapp2.1
/ProjectSample.Apis/obj
/ProjectSample.CommandsAndEvents/bin/Debug/netcoreapp2.1
/ProjectSample.MessageBussTest/obj
/ProjectSample.ProjectSampleBootingEngine/bin/Debug/netcoreapp2.1
/ProjectSample.ProjectSampleBootingEngine/obj
/ProjectSample.SampleCommandHandlers/bin/Debug/netcoreapp2.1
/ProjectSample.SampleEventHandlers/bin/Debug/netcoreapp2.1
/ProjectSample.Apis/bin/Debug/netcoreapp2.2
/ProjectSample.CommandsAndEvents/bin/Debug/netcoreapp2.2
/ProjectSample.Database/bin/Debug/netcoreapp2.2
/ProjectSample.ProjectSampleBootingEngine/bin/Debug/netcoreapp2.2
/ProjectSample.SampleCommandHandlers/bin/Debug/netcoreapp2.2
/ProjectSample.SampleEventHandlers/bin/Debug/netcoreapp2.2
/RedisUsage.CqrsCore/bin/Debug/netcoreapp2.2
/RedisUsage.RedisServices/bin/Debug/netcoreapp2.2
/RedisUsage.UnitTest.CqrsCoreMockupTest/bin/Debug/netcoreapp2.2
/RedisUsage.UnitTest.CqrsCoreMockupTest/obj
/RedisUsage.UnitTest.HandlersAndConsummers/bin/Debug/netcoreapp2.2
/RedisUsage.UnitTest.HandlersAndConsummers/obj
/RedisUsage.UnitTest.RedisServciesMockupTest/bin/Debug/netcoreapp2.2
/RedisUsage.UnitTest.RedisServciesMockupTest/obj
